h1{
	color: white;
	text-align: center;
}
.img{
	border radius: 50%;
}

img{
	height: 9em;
	border-radius: 60px;
	border: 5px solid white;
	
}
h3{
	color: white;
	text-align: center;
}
body {
	background-color:
	#3ccdf2;
}
p{
	text-align:center;
	color: white;
	text: verdana;
}
.container {
	text-align:center;
}
.form-group{
	align-self:center;
}